.recommendation {
    align-content: center;
    min-width: 200px;
    height: 200px;
    padding: 10px;
    background-color: gray;
    border-radius: 20px;
}

.recommendation > img {
    height: 100px;
    width: 100px;
    border-radius: 2px;
}

.recommendation > h1 {
    font-size: 15px;
}

.recommendation > h2 {
    font-size: 13px;
}